// @import "base.scss";
@import "home.scss";
@import "pagination.scss";

@import "codeblocks.scss";
@import "posts.scss";

@import "circle_menu.scss";
@import "expanded_list_styling.scss";

.str-z-fix {
    z-index: 8 !important;
}


footer {
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
}