<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "partials/head.html" . }}
  </head>
  <body class="dark">
    {{ partial "logging/show_info" (dict "level" "debug" "pre" "Debug Message"  "inner" (debug.Dump .Kind )) }}
    {{ partial "logging/show_info" (dict "level" "debug" "pre" "Debug Message"  "inner" (debug.Dump .Type )) }}
    {{/* {{ partial "components/navbar.html" . }} */}}

    {{/*  ## Two Column Layout START   */}}
    <div class="grid">
      <div class="s12 l2">
        {{ partial "components/menu/menu.html" (dict "menuID" "main" "page" .) }}
      </div>

      <div class="s12 l7">
        <main class="responsive max">
          {{ block "main" . }}{{ end }}
        </main>
      </div>
      <div class="s12 m12 l3">
        <aside>
          {{ block "aside-content" . }}{{ end }}
        </aside>
      </div>
    </div>
    {{/*  ## Two Column Layout END   */}}
    <footer class="">
       {{ partial "footer" . }}
       {{/*  language switch  */}}
       {{/*  {{ partial "components/home/language_switch" . }}  */}}
    </footer>
  </body>
</html>
