{{ define "main" }}
<style>
  :root {
    --background-img : url({{ .Params.background | default "" }});
    {{ if .Params.backgroundblurpx  }}
    --background-blur-px: {{ .Params.backgroundblurpx }}
    {{ end }}    
  }

  .post-background {
    background-image: var(--background-img);
    background-size: cover;
  }

  .background-post {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .background-filter {
    backdrop-filter: blur(var(--background-blur-px, 10px));
  }
</style>
<div class="
post-background
{{ if .Params.background | default false }}
round
{{ end }}

">

<article class="padding scroll round
{{ if .Params.background  }}
background-post 
{{ if .Params.backgroundfilter  }}
background-filter
{{ end }}
{{ end }}
">
{{/*  Upwards anchor  */}}
{{ partial "components/anchor.html" (dict "up" true) }}
{{ partial "components/header/toggle_theme.html" . }}

    <header class="transparent">
      <h2 class="top-margin secondary-text">
        {{ .Title }}
      </h2>
      {{ partial "components/title_meta" (dict "page" . "use_chip" true) }}
    </header>
    
    {{ .Content }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    {{/*  Downwards anchor  */}}
    {{ partial "components/anchor.html" (dict "up" false) }}

  </article>
</div>

{{ end }}


{{ define "aside-content" }}
{{ partial "components/related/single" . }}
{{ partial "components/circle_menu" . }}
{{ end }}