{{ $img := "" }}
{{ $hasImg := false }}
{{ $img = partial "func/thumbnail" . | strings.TrimSpace }}
{{ if strings.ContainsNonSpace $img }}
    {{ $hasImg = true }}
{{ else }}
    {{ $hasImg = false }}
{{ end  }}

<article class="small">
    <a href="{{ .RelPermalink }}" class="underline primary-text">{{ .LinkTitle  }}</a>
    <div class="grid">
        <div class="s6 padding">
            {{ if $hasImg }}
            <img class="circle small" src="{{ $img | safeURL }}">
            {{ end }}
        </div>
        <div class="s6">
            {{ partial "components/title_meta" (dict "page" . "use_chip" false) }}         
        </div>
    </div>
</article>
