{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}
{{- $page := .page }}
{{- $taxonomy := .taxonomy }}
{{- $color := .color | default  "deep-purple7" }}


{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
      {{- range . }}
        <a class="chip small-padding {{$color}} small-text" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{- end }}
{{- end }}
