{{ $use_chip := .use_chip | default true }}
{{ $page := .page | default "" }}
{{ $show_cat := .show_categories | default false }}
{{$chip := ""}}
{{ if $use_chip }}
  {{ $chip = "chip" }}
{{ end }}


{{ with $page }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}
{{ if and $show_cat .Section }}
  {{ with .CurrentSection }}
  <div class="row wrap no-padding">
    <a class="chip tiny tiny-text" href="{{.RelPermalink}}"><i class="tiny">Category</i>{{.LinkTitle}}</a>
  </div>
  {{ end }}
{{ end }}
<div class="top-margin row wrap small-text no-space">
  {{ if (or (.Params.show_reading_time | default false) site.Params.show_reading_time | default true) }}
    <span class="{{ $chip }} tiny no-margin"
      ><i class="tiny">Timer</i>{{ T "readingTime" .ReadingTime }}</span
    >
    <span class="{{ $chip }} small no-margin"
      ><i class="tiny">Functions</i>{{ T "wordCount" .WordCount }}</span
    >
  {{ end }}
  <span class="{{ $chip }} small no-margin"
    ><i class="tiny">Event</i
    ><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></span
  >
</div>
{{ end }}


