<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta
  name="description"
  content="{{ .Description | default site.Params.SiteDescription }}"
/>
<meta name="title" content="{{ .Title | default site.Params.Title }}" />
{{/* <meta name="keywords" content="{{ site.Params.keywords }}" /> */}}
{{ if .Site.Params.useCanonify }}
  <link rel="canonical" href="{{ site.BaseURL }}" />
{{ end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ printf "%s | %s" .Title site.Title }}
  {{ end }}

</title>


{{/*  are there scratches which dont want css at all ?  */}}
{{ $nocss_custom := $.Store.Get "nocss_custom" | default false }}
{{ $nocss_vendor := $.Store.Get "nocss_vendor" | default false }}

{{ partial "head/importmap.html" . }}
{{ range site.Params.regex_folders }}
  {{ with .vendor }}
    {{ range .js }}
      {{ partial "head/js_vendor.html" . }}
    {{ end }}
    {{ if not $nocss_vendor}} 
    {{ range .css }}
      {{ partial "head/css_vendor.html" . }}
    {{ end }}
    {{ end }}
  {{ end }}
  {{ with .custom }}
    {{/*  TODO auto import  */}}
    {{ if not $nocss_custom}} 
      {{ range .js }}
        {{ partial "head/ts_js_custom.html" . }}
      {{ end }}
    {{ end }}
    {{ range .css }}
      {{ partial "head/css_custom.html" . }}
    {{ end }}
  {{ end }}
{{ end }}

<script>
  var themeColor = null;
  {{ with site.Params.themeColor }}
        themeColor = {{ . }};
  {{ end }}
</script>

{{/*  {{ partial "head/css.html" . }}  */}}
{{/*  {{ partial "head/js.html" . }}  */}}
