{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}
<div class="margin"></div>
{{- $page := .page }}
{{- $taxonomy := .taxonomy }}
{{- $color := .color | default  "deep-purple7" }}


{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <hr>
  <div class="">
    <div class="row wrap padding">
      {{- range . }}
        <a class="chip {{$color}}" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{- end }}
    </div>
  </div>
{{- end }}
